.modal {
    display: flex;
    justify-content: center;
    padding: 5px;

    .modal-content {
        max-width: 300px;
    }


    input {
        width: 100%;
        border: 1px solid #212529;
        border-radius: 5px;
        padding: 5px;
        margin-top: 15px;
    }

    input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
}
