.search {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    margin: 10px 0;
    max-width: 500px;
    border: 1px solid rgb(240, 242, 243);
    border-radius: 5px;

    input {
        border: none;
        margin: 0;
    }

    input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
    }

    .buttonBackgroundImage {
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        height: 15px;
        width: 15px;
        margin: 10px;
    }

    .buttonBackgroundImage:hover {
        transform: scale(1.3); 
    }

    .searchButton {
        @extend .buttonBackgroundImage;
        background-image: url("https://cdn0.iconfinder.com/data/icons/art-designing-glyph/2048/1871_-_Magnifier-512.png");
    }

    .closeButton {
        @extend .buttonBackgroundImage;
        background-image: url("https://static.thenounproject.com/png/53235-200.png");
    }



    button:hover {
        background-color: transparent;
        border: none;
    }
}
